
:root {

  /**
   * colors
   */

  --color-rich-black: hsl(240, 13%, 8%);
  --color-silver-chalice: hsl(0, 0%, 70%);
  --color-floral-white: hsl(38, 100%, 98%);
  --color-raisin-black: hsl(240, 8%, 18%);
  --color-sonic-silver: hsl(240, 3%, 45%);
  --color-mango-tango: hsl(20, 100%, 64%);
  --color-golden-yellow: hsl(46, 100%, 54.1%);
  --color-cultured: hsl(210, 17%, 98%);
  --color-mantis: hsl(118, 41%, 62%);
  --color-gamboge: hsl(46, 100%, 45%);
  --color-black: hsl(0, 0%, 0%);
  --color-white: hsl(0, 0%, 100%);
  --color-ghost-white: hsl(230, 60%, 98%);
  --color-onyx: hsl(0, 0%, 23%);

  --gradient-default: linear-gradient(90deg, hsl(38, 100%, 98%) 21.32%, hsl(144, 45%, 98%) 130%);

  /**
   * typography
   */

  --font-family-kabrio: 'Kabrio', sans-serif;
  --font-family-open-sans: 'Open Sans', sans-serif;

  --font-size-1: 30px;
  --font-size-2: 28px;
  --font-size-3: 24px;
  --font-size-4: 20px;
  --font-size-5: 18px;
  --font-size-6: 16px;
  --font-size-7: 14px;

  --font-weight-500: 500;
  --font-weight-700: 700;

  /**
   * transition
   */

  --transition-default: 0.2s ease-in-out;
  --transition-default-1: 0.25s ease-in-out;
  --transition-default-2: 0.5s ease-in-out;

  /**
   * spacing
   */

  --spacing-section-padding: 80px;

    /**
   * shadow
   */

   --shadow-1: 0px 2px 50px hsla(223, 40%, 76%, 0.3);
   --shadow-2: 0px -2px 12px hsl(252, 29%, 93%);
   --shadow-3: 0px 4px 4px hsla(231, 20%, 49%, 0.06);
   --shadow-4: 0px 15px 30px hsla(210, 30%, 32%, 0.05);
   --shadow-5: 0px 15px hsla(241, 62%, 34%, 0.04);

}



/* 
=============== RESET =============== 
*/
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a,
img,
span,
button,
ion-icon {
  display: block;
}

button {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-white);
}


/*-----------------------------------*\
 * #REUSED STYLE
\*-----------------------------------*/

.container { padding-inline: 15px; }

.has-before,
.has-after {
  position: relative;
  z-index: 1;
}

.has-before::before,
.has-after::after {
  content: "";
  position: absolute;
}

.btn {
  color: var(--color-white);
  font-family: var(--font-family-kabrio);
  padding: 20px 30px;
  border-radius: 15px;
  transition: var(--transition-default);
}

.btn-secondary {
  background: var(--color-rich-black);
  box-shadow: inset 0 -10px 20px hsl(240, 8%, 37%);
}

.btn-secondary:is(:hover, :focus) {
  background: var(--color-gamboge);
  box-shadow: 5px 10px 30px hsla(39, 100%, 50%, 0.3);
}

.btn-primary {
  background: var(--color-golden-yellow);
  box-shadow: 5px 10px 30px hsla(39, 100%, 50%, 0.3);
}

.btn-primary:is(:hover, :focus) {
  background: var(--color-gamboge);
  transform: translateY(-3px);
}

.h1,
.h2,
.h3 {
  font-family: var(--font-family-kabrio);
  color: var(--color-rich-black);
}

.h1 {
  font-size: var(--font-size-1);
  line-height: 1.2;
  font-weight: var(--font-weight-700);
}

.h2 {
  font-size: var(--font-size-1);
  line-height: 1.2;
}

.h3 {
  color: var(--color-onyx);
  font-size: var(--font-size-3);
  line-height: 1.3;
}

:is(.h1, .h2) .has-before { display: inline-block; }

:is(.h1, .h2) .has-before::before {
  bottom: 8px;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: hsl(47, 100%, 69%);
  z-index: -1;
}

.section-text,
.card-text,
.card-subtitle {
  font-family: var(--font-family-open-sans);
  color: var(--color-sonic-silver);
  font-size: var(--font-size-5);
  line-height: 1.8;
}

.section-subtitle {
  color: hsl(225, 11%, 59%);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2;
}

.section-subtitle::before {
  position: static;
  width: 12px;
  height: 12px;
  background-color: hsl(47, 100%, 69%);
  display: inline-block;
  border-radius: 50%;
  margin-inline-end: 10px;
}

.text-center { text-align: center; }

/* .section-title { margin-block: 30px 50px; } */

.grid-list {
  display: grid;
  gap: 30px;
}



/*-----------------------------------*\
 * #HEADER
\*-----------------------------------*/

.header {
  padding-block: 25px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 4;
  transition: padding var(--transition-default-2);
}

.header.active {
  background: var(--color-cultured);
  box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.1);
  padding-block: 20px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo { width: 120px; }

.logo img { width: 100%; }

.logo1 img { width: 30%; }

.menu-open-btn {
  font-size: 35px;
  color: var(--color-mango-tango);
}

.navbar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 100%;
  max-width: 250px;
  height: 100%;
  background: var(--color-white);
  padding: 80px 20px;
  transition: 0.15s ease-in;
  z-index: 3;
}

.navbar.active {
  left: 0;
  transition: 0.25s ease-out;
}

.menu-close-btn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 30px;
  padding: 5px;
  background: var(--color-rich-black);
  color: var(--color-white);
}

.navbar .logo {
  width: 160px;
  margin-bottom: 30px;
  margin-inline: auto;
}

.navbar-list { margin-bottom: 15px; }

.navbar-link {
  color: var(--color-rich-black);
  font-weight: var(--font-weight-500);
  padding-block: 15px;
  font-family: var(--font-family-open-sans);
}

.overlay {
  position: fixed;
  inset: 0;
  background: hsla(0, 0%, 0%, 0.7);
  pointer-events: none;
  opacity: 0;
  transition: 0.15s ease-out;
  z-index: 3;
}

.overlay.active {
  pointer-events: all;
  opacity: 1;
}



/*-----------------------------------*\
 * #HERO
\*-----------------------------------*/

.hero {
  background: var(--gradient-default);
  padding: 150px 0 var(--spacing-section-padding);
}

.hero-banner {
  margin-bottom: 30px;
}

.hero-banner img {
  height: 50%;
  width: 100%;
}

.hero-title {
  margin-bottom: 20px;
}

.hero .section-text {
  margin-bottom: 45px;
}






/*-----------------------------------*\
 * #ABOUT
\*-----------------------------------*/

.about { padding-block: var(--spacing-section-padding); }

.about-banner {
  position: relative;
  margin-bottom: 40px;
}

.about-img {
  width: 80%; 
}

.about-title { margin-bottom: 30px; }

.about .section-text { margin-bottom: 50px; }




/*-----------------------------------*\
 * #SERVICES
\*-----------------------------------*/


.service { background: var(--gradient-default); }

.section.service.section {
  padding-block: var(--spacing-section-padding);
}

.service .section-title { margin-block: 30px 60px; }

.service h3 {
  color: hsl(240, 8%, 17%);
  line-height: 1.3;
}

.service-card,
.service .link-card {
  padding: 45px;
  border-radius: 20px;
}

.service-card {
  height: 100%;
  background-color: var(--color-white);
  padding-block-end: 40px;
  border-block-end: 3px solid transparent;
  box-shadow: var(--shadow-3);
  transition: 0.25s ease;
}

.service-card:is(:hover, :focus-within) { border-color: hsl(var(--color)); }

.service-card .card-icon {
  max-width: max-content;
  padding: 15px;
  border-radius: 8px;
  background-color: hsla(var(--color), 0.15);
  margin-block-end: 25px;
  transition: 0.5s ease;
}

.service-card:is(:hover, :focus-within) .card-icon { transform: rotateY(0.5turn); }

.service-card .card-title { transition: var(--transition-1); }

.service-card .card-title:is(:hover, :focus-within) { color: hsl(var(--color)); }

.service .link-card {
  background-color: hsla(var(--color), 0.15);
  text-align: center;
}

.service .link-card .span {
  color: hsl(240, 8%, 17%);
  font-size: 1.8rem;
  font-weight: 500;
  margin-block-end: 20px;
  transition: 0.25s ease;
}

.service .link-card:is(:hover, :focus) .span { color: hsl(241, 77%, 63%); }

.service .link-card ion-icon {
  color: hsl(241, 77%, 63%);
  font-size: 150px;
  transform: rotate(-45deg);
  margin: -25px auto;
  transition: 0.25s ease;
}

.service .link-card:is(:hover, :focus) ion-icon { color: hsl(var(--color)); }



/*-----------------------------------*\
 * #FEATURES
\*-----------------------------------*/

.section.feature.section {
  padding-block: var(--spacing-section-padding);
}

.feature .container,
.feature-list {
  display: grid;
  gap: 60px;
}

.feature-card ,.card-icon {
  background-color: hsla(var(--color), 0.15);
  font-size: 24px;
  max-width: max-content;
  border-radius: 50%;
  margin-block-end: 20px;
  transition: var(--transition-default);
}

.feature-card .card-icon .icon {
  color: hsl(var(--color));
  transition: var(--transition-default-1);
}

.feature-card .card-text {
  color: var(--color-silver-chalice);
  margin-block-start: 5px;
}

.feature-card:is(:hover, :focus) .card-icon {
  box-shadow: inset 0 0 0 30px hsla(var(--color), 0.9);
}

.feature-card:is(:hover, :focus) .card-icon .icon { 
  color: var(--color-white); 
}




/*-----------------------------------*\
 * #FOOTER
\*-----------------------------------*/

.footer { background: var(--color-rich-black); }

.footer-top { padding-block: var(--spacing-section-padding); }

.footer-brand { margin-bottom: 50px; }

.footer-brand .logo {
  width: 160px;
  margin-bottom: 20px;
}

span .text {
  font-family: var(--font-family-open-sans);
}

.footer-text {
  color: var(--color-silver-chalice);
  font-family: var(--font-family-open-sans);
  line-height: 1.8;
  margin-bottom: 30px;
}

.footer .social-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.footer .social-link {
  background: var(--color-raisin-black);
  color: var(--color-silver-chalice);
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  font-size: 18px;
  border-radius: 50%;
  border: 1px solid var(--color-raisin-black);
  transition: var(--transition-default);
}

.footer .social-link:is(:hover, :focus) {
  background: var(--color-rich-black);
  color: var(--color-cultured);
}

.footer-link-box {
  display: grid;
  gap: 30px;
}

.footer-list { max-width: 230px; }

.footer-list li:first-child { margin-bottom: 10px; }

.footer-link-title {
  color: var(--color-cultured);
  font-family: var(--font-family-kabrio);
  font-size: var(--font-size-4);
}

.footer-link {
  color: var(--color-silver-chalice);
  font-family: var(--font-family-kabrio);
  padding-block: 10px;
  transition: var(--transition-default);
}

.footer-link:is(:hover, :focus) {
  color: var(--color-cultured);
  transform: translateX(3px);
}

.footer .contact-item { padding-block: 10px; }

.footer .contact-item span {
  display: inline-block;
  color: var(--color-cultured);
  font-weight: var(--font-weight-500);
}

.footer .contact-link {
  display: inline-block;
  color: var(--color-silver-chalice);
  font-family: var(--font-family-kabrio);
  font-weight: var(--font-weight-500);
}

.footer .contact-link address { font-style: normal; }

.footer-bottom {
  padding-block: 20px;
  border-top: 1px solid var(--color-onyx);
}

.copyright {
  color: var(--color-silver-chalice);
  font-family: var(--font-family-kabrio);
  line-height: 1.7;
  text-align: center;
}

.copyright a {
  display: inline-block;
  color: inherit;
  transition: var(--transition-default);
}

.copyright a:is(:hover, :focus) { color: var(--color-cultured); }







/*-----------------------------------*\
 * #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for larger than 550px screen
 */

 @media (min-width: 550px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --font-size-1: 45px;

  }



  /**
   * REUSED STYLE
   */

  .container {
    max-width: 550px;
    margin-inline: auto;
  }

  .h2 { --font-size-1: 35px; }



  /**
   * HEADER
   */

  .header .logo { min-width: 160px; }



  /**
   * DEPARTMENTS
   */

  .departments-card { padding: 30px; }



  /**
   * INSTRUCTOR, FOOTER
   */

  .instructor-list,
  .footer-link-box { grid-template-columns: 1fr 1fr; }

}





/**
 * responsive for larger than 768px screen
 */

@media (min-width: 768px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --font-size-1: 55px;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 750px; }

  .grid-list { grid-template-columns: 1fr 1fr; }



  /**
   * HERO, ABOUT
   */

  .hero-banner,
  .about-banner {
    max-width: 600px;
    margin-inline: auto;
  }

  .about-content { max-width: 600px; }



  /**
   * DEPARTMENTS
   */

  .departments-title {
    max-width: 600px;
    margin-inline: auto;
  }

  .departments-list { grid-template-columns: 1fr 1fr; }

  /*
  * FEATURE 
  */
  .feature-banner { max-width: max-content; }

  .feature-list { gap: 30px; }

  .feature-card {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 25px;
  }

  .card-text {
    font-size: var(--font-size-5);
  }

  .feature-card .card-icon { margin-block-end: 0; }

  .feature-card .card-text { max-width: 32ch; }



  /**
   * INSTRUCTOR
   */

  .instructor-title { max-width: 600px; }



  /**
   * CTA
   */

  .cta {
    position: relative;
    z-index: 1;
  }

  .cta .title-wrapper { max-width: 60%; }

  .cta-banner {
    display: block;
    background: url("../images/cta-banner.png") no-repeat;
    background-size: contain;
    background-position: center;
    width: 350px;
    height: 350px;
    position: absolute;
    bottom: -26px;
    left: 51%;
  }



  /**
   * FOOTER
   */

  .footer-text { max-width: 400px; }

}





/**
 * responsive for larger than 1024px screen
 */

@media (min-width: 1024px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --font-size-1: 65px;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 950px; }

  .h2 { --font-size-1: 40px; }

  .grid-list { grid-template-columns: repeat(3, 1fr); }



  /**
   * HEADER
   */

  .header .logo { margin-right: 25px; }

  .menu-open-btn,
  .menu-close-btn,
  .navbar .logo { display: none; }

  .navbar {
    position: static;
    max-width: unset;
    height: unset;
    background: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-list {
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar-link {
    position: relative;
    font-size: var(--font-size-5);
    padding: 20px 25px;
  }

  .navbar-link::after {
    --scale: 0;
    
    content: "";
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%) scale(var(--scale));
    background: var(--color-golden-yellow);
    width: 30px;
    height: 2px;
    border-radius: 2px;
    opacity: 0.5;
    transition: var(--transition-default);
  }

  .navbar-link:is(:hover, :focus)::after { --scale: 1; }

  .overlay { display: none; }



  /**
   * HERO
   */

  .hero .container {
    display: grid;
    grid-template-columns: 4fr 6fr;
    align-items: center;
    gap: 50px;
  }

  .hero-banner {
    margin-bottom: 0;
    order: 1;
  }



  /**
   * ABOUT
   */

  .about .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 50px;
  }

  .about-banner {
    position: relative;
    margin-bottom: 0;
  }

  .about-content { max-width: unset; }



  /**
   * DEPARTMETNS
   */

  .departments {
    position: relative;
    z-index: 1;
  }

  .departments .vector-line {
    top: 100px;
    right: 0;
    z-index: -1;
  }

  .departments-title { max-width: 500px; }

  .departments-list { grid-template-columns: repeat(3, 1fr); }

  .departments-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }


  /**
   * FEATURE
   */

  .feature .container {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }



  /**
   * INSTRUCTOR
   */

  .instructor {
    position: relative;
    z-index: 1;
  }

  .instructor .vector-line:first-child {
    top: 50px;
    left: 0;
    z-index: -1;
  }

  .instructor .title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .instructor-title {
    max-width: 500px;
    margin-bottom: 0;
  }

  .instructor-list { grid-template-columns: repeat(3, 1fr); }

  .instructor .vector-line:last-child {
    bottom: -100px;
    left: 0;
    z-index: -1;
  }



  /**
   * CTA
   */

  .cta .title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  .cta-title {
    position: relative;
    margin-bottom: 0;
    width: calc(100% - 200px);
  }

  .cta-title .vector-line {
    right: -20px;
    bottom: 0;
  }

  .cta-banner {
    left: 60%;
    width: 320px;
    bottom: -39px;
  }



  /**
   * FOOTER
   */

  .footer-link-box { grid-template-columns: repeat(4, 1fr); }

}





/**
 * responsive for larger than 1200px screen
 */

@media (min-width: 1200px) {

  /**
   * REUSED STYLE
   */

  .container { max-width: 1150px; }

  .section-title.text-center {
    max-width: 20ch;
    margin-inline: auto;
  }



  /**
   * SERVICE
   */

   .service .grid-list { grid-template-columns: repeat(4, 1fr); }

   .service-card .h3 { --fs-3: 2rem; }



  /**
   * DEPARTMENTS
   */

  .departments-title { max-width: 550px; }

  .service .grid-list { grid-template-columns: repeat(4, 1fr); }

  .service-card .h3 { font-size: 1.9rem; }




  /**
   * INSTRUCTOR
   */

  .instructor { padding-bottom: 150px; }



  /**
   * CTA 
   */

  .cta .title-wrapper { max-width: 64%; }

  .cta-banner { left: 68%; }

}