@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@font-face {
  font-family: 'Kabrio';
  src: url('./assets/fonts/Kabrio-Bold.woff2') format('woff2'),
       url('./assets/fonts/Kabrio-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Kabrio';
  src: url('./assets/fonts/Kabrio.woff') format('woff2'),
       url('./assets/fonts/Kabrio.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Kabrio';
  src: url('./assets/fonts/Kabrio-ExtraBold.woff2') format('woff2'),
       url('./assets/fonts/Kabrio-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
